{% load static %}
<header id="header" class="header d-flex align-items-center fixed-top" style="background-color: #ffffff;">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
        <a href="" class="logo d-flex align-items-center me-auto">
            <img src="{% static 'arsha/assets/img/logo.svg' %}" alt="geninvest" sizes="2">
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Beranda</a></li>
                <li><a href="{% url 'artikel' %}" class="{% if request.path == '/artikel' %}active{% endif %}">Artikel</a></li>
                <li><a href="{% url 'pusat_bantuan' %}" class="{% if request.path == '/pusat_bantuan' %}active{% endif %}">Pusat Bantuan</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="">
            Login
        </a>
    </div>
</header>
