{% extends 'layouts/main.html' %}
{% block css %}

{% load static %}
<style>
    /* Default untuk layar kecil */
    .custom-img-article {
        height: 10rem;
    }

    .card-article {
        margin-bottom: 2rem;
        /* Tambahkan jarak antar card artikel */
    }

    .artikel-terbaru-item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        /* Jarak antar artikel terbaru */
    }

    .artikel-terbaru-item img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
        margin-right: 10px;
    }

    .card-direktur {
        border: none;
    }

    /* Large screens (lg), untuk ukuran layar >= 992px */
    @media (min-width: 770px) {
        .custom-img-article {
            height: 10rem;
        }

        .card-direktur {
            border: #f3f4f6;
        }
    }
    
</style>
{% endblock %}

{% block content %}
<section id="artikel" style="margin-top: 10rem" class="artikel d-flex justify-content-center gap-3 p-3">
    <div class="container" data-aos="fade-up">
        <div class="mb-5" style="border-bottom: 1px solid black;">
            <h2>Artikel</h2>
        </div>
        <div class="row">
            <!-- Kolom Daftar Artikel -->
            <div class="col-md-8 order-1 order-md-0">
                <!-- Artikel -->
                {% for article in articles %}
                <div class="card card-article mb-3" style="max-width: 100%;">
                    <div class="row g-0">
                        <div>
                            {% if article.cover %}
                            <img src="{{ article.cover.url }}" class="img-fluid col-12 rounded-start custom-img-article"
                                style="height: 18.5rem" alt="{{ article.judul }}">
                            {% endif %}
                        </div>
                        <div class="col-11 col-md-12">
                            <div class="card-body">
                                <a href="{% url 'artikel1' article.id %}" class="card-title"
                                    style="text-transform: capitalize; font-weight: bold; font-size:1rem;">
                                    {{ article.judul }}
                                </a>
                                <div style="display: flex; align-items: center; margin-top: 0.9rem;">
                                    <i class="bi bi-person-circle me-1"></i>
                                    <small class="text-body-secondary me-3">{{ article.penulis }}</small>
                                    <i class="bi bi-clock me-1"></i>
                                    <small class="text-body-secondary">{{ article.updated_at|date:"d M Y" }}</small>
                                </div>
                                <p style="text-align:left; font-size:0.9rem; margin-top:1.4rem;">
                                    {{ article.konten }}
                                </p>
                                <a href="{% url 'artikel1' article.id %}" class="btn-getstarted"
                                    style="font-size: 0.8rem; float: right; margin-bottom: 1rem;">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <!-- Kolom Card Kategori -->
            <div class="col-md-4 order-0 order-md-1">
                <div class="card card-list p-4"
                    style="width: 100%; height: auto; border: none; box-shadow: 0px 0px 15px rgba(0,0,0,0.1);">
                    <!-- Kategori -->
                    <p style="font-size: large; color: #384046; font-weight: 600;">Kategori</p>
                    <div class="ml-2" style="margin-left: 0.5rem;">
                        {% for category in categories %}
                        <p class="text-secondary font-weight-light">
                            {{ category.nama }} ({{ category.article_count }})
                        </p>
                        {% endfor %}
                    </div>


                    <p style="font-size: large; color: #384046; font-weight: 600;">Artikel Terbaru</p>
                    <div>
                        {% for article in articles %}
                        <div class="artikel-terbaru-item">
                            {% if article.cover %}
                            <img src="{{ article.cover.url }}" alt="{{ article.judul }}">
                            {% endif %}
                            <div>
                                <a href="{% url 'artikel1' article.id %}" class="mb-0"
                                    style="font-weight: 500; color: #384046;">{{ article.judul }}</a>
                                <p class="text-secondary mb-0" style="font-size: 0.9rem;">{{ article.updated_at|date:"d M Y" }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% include 'frontend/layouts/main.html' %}