{% extends 'layouts/main.html' %}
{% load static %}

{% block css %}
<style>
    .wrapper {
        border: 1px solid black;
    }

    /* Sidebar Styles */
    .sidebar {
        width: 220px;
        background-color: #ffffff;
        padding: 1rem;
        float: left;
        margin-top: 1rem;
        border-right: 1px solid #dddddd;
        position: sticky;
        top: 7rem;
        transition: all 0.3s ease;
    }

    .sidebar button {
        width: 100%;
        background-color: white;
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
        margin-bottom: 12px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        color: #333;
        transition: background-color 0.3s;
        cursor: pointer;
    }

    .sidebar button.active {
        background-color: #47b2e4;
        color: white;
    }

    .sidebar button:hover {
        background-color: #61a9f1;
        color: rgb(255, 255, 255);
    }

    /* Main Content Styles */
    .content {
        margin-left: 240px;
        padding: 20px;
    }

    
    @media (min-width: 768px) {
        .sidebar.fixed {
            position: fixed;
            top: 7rem;
        }
    }

    
    @media (max-width: 767px) {
        .sidebar {
            width: 100%;
            margin-left: 0;
            border-right: none;
            position: relative;
            margin-top: -7rem;
        }
        .content {
            margin-left: 0;
            margin-top: 12rem;
        }
    }

</style>
{% endblock %}

{% block content %}
<div class="wrapper" style="padding-top: 7rem; border: #333;">
    <section class="sidebar">
        <button onclick="scrollToSection('definisi')">Definisi</button>
        <button onclick="scrollToSection('ketentuan-umum')">Ketentuan Umum</button>
        <button onclick="scrollToSection('ketentuan-akun')">Ketentuan Akun</button>
    </section>

    <section class="content">
        <h1>SYARAT DAN KETENTUAN PENGGUNAAN GENINVEST WEBSITE INVESTASI DIGITAL (“Syarat dan Ketentuan”)</h1>

        <h2 id="definisi">A. Definisi</h2>
        <ol>
            <li>Geninvest adalah platform reksa dana saham yang dapat digunakan oleh semua kalangan dengan fokus utama
                membantu Gen Z untuk memulai investasi dengan mudah dan terjangkau.</li>
            <li>Investor adalah pengguna yang menggunakan sistem GenInvest untuk melakukan Investasi dan menyimpan uang
                didalamnya.</li>
            <li>Artikel adalah sumber informasi yang disediakan oleh GenInvest Untuk memudahkan pengguna dalam menemukan
                informasi yang dibutuhkan baik untuk memahami dalam menggunakan Geninvest, maupun mencari pengetahuan
                bagaimana memahami investasi.</li>
            <li>Pusat bantuan adalah fitur yang didalamnya terdapat kumpulan fitur seperti FAQ, Syarat dan Ketentuan,
                serta Kebijakan Privasi.</li>
            <li>FAQ adalah singkatan dari Frequently Asked Questions yang artinya Pertanyaan yang Sering Diajukan dan
                merupakan daftar pertanyaan dan jawaban yang berkaitan dengan topik, produk, atau layanan tertentu.</li>
            <li>Syarat dan Ketentuan adalah Perjanjian hukum yang harus disepakati antara pihak pertama (Geninvest)
                sebagai penyedia layanan dan juga pihak kedua (Pengguna layanan Geninvest).</li>
            <li>Kebijakan Privasi adalah dokumen ataupun tulisan hukum yang menjelaskan cara sistem Geninvest dalam
                mengumpulkan, menggunakan dan mengelola data pribadi penggunanya.</li>
        </ol>

        <h2 id="ketentuan-umum">B. Ketentuan Umum</h2>
        <ol>
            <li>Geninvest adalah platform reksa dana saham yang dapat digunakan oleh semua kalangan dengan fokus utama
                membantu Gen Z untuk memulai investasi dengan mudah dan terjangkau.</li>
            <li>Investor adalah pengguna yang menggunakan sistem GenInvest untuk melakukan Investasi dan menyimpan uang
                didalamnya.</li>
            <li>Artikel adalah sumber informasi yang disediakan oleh GenInvest Untuk memudahkan pengguna dalam menemukan
                informasi yang dibutuhkan baik untuk memahami dalam menggunakan Geninvest, maupun mencari pengetahuan
                bagaimana memahami investasi.</li>
            <li>Pusat bantuan adalah fitur yang didalamnya terdapat kumpulan fitur seperti FAQ, Syarat dan Ketentuan,
                serta Kebijakan Privasi.</li>
            <li>FAQ adalah singkatan dari Frequently Asked Questions yang artinya Pertanyaan yang Sering Diajukan dan
                merupakan daftar pertanyaan dan jawaban yang berkaitan dengan topik, produk, atau layanan tertentu.</li>
            <li>Syarat dan Ketentuan adalah Perjanjian hukum yang harus disepakati antara pihak pertama (Geninvest)
                sebagai penyedia layanan dan juga pihak kedua (Pengguna layanan Geninvest).</li>
            <li>Kebijakan Privasi adalah dokumen ataupun tulisan hukum yang menjelaskan cara sistem Geninvest dalam
                mengumpulkan, menggunakan dan mengelola data pribadi penggunanya.</li>
        </ol>

        <h2 id="ketentuan-akun">C. Ketentuan Akun</h2>
        <ol>
            <li>Geninvest adalah platform reksa dana saham yang dapat digunakan oleh semua kalangan dengan fokus utama
                membantu Gen Z untuk memulai investasi dengan mudah dan terjangkau.</li>
            <li>Investor adalah pengguna yang menggunakan sistem GenInvest untuk melakukan Investasi dan menyimpan uang
                didalamnya.</li>
            <li>Artikel adalah sumber informasi yang disediakan oleh GenInvest Untuk memudahkan pengguna dalam menemukan
                informasi yang dibutuhkan baik untuk memahami dalam menggunakan Geninvest, maupun mencari pengetahuan
                bagaimana memahami investasi.</li>
            <li>Pusat bantuan adalah fitur yang didalamnya terdapat kumpulan fitur seperti FAQ, Syarat dan Ketentuan,
                serta Kebijakan Privasi.</li>
            <li>FAQ adalah singkatan dari Frequently Asked Questions yang artinya Pertanyaan yang Sering Diajukan dan
                merupakan daftar pertanyaan dan jawaban yang berkaitan dengan topik, produk, atau layanan tertentu.</li>
            <li>Syarat dan Ketentuan adalah Perjanjian hukum yang harus disepakati antara pihak pertama (Geninvest)
                sebagai penyedia layanan dan juga pihak kedua (Pengguna layanan Geninvest).</li>
            <li>Kebijakan Privasi adalah dokumen ataupun tulisan hukum yang menjelaskan cara sistem Geninvest dalam
                mengumpulkan, menggunakan dan mengelola data pribadi penggunanya.</li>
        </ol>
    </section>
</div>
{% endblock %}

{% block js %}
<script>
    function scrollToSection(id) {
        const element = document.getElementById(id);
        const offset = 112;
        const elementPosition = element.getBoundingClientRect().top;
        const offsetPosition = elementPosition + window.scrollY - offset;

        window.scrollTo({
            top: offsetPosition,
            behavior: "smooth"
        });
    }

    // Sticky Sidebar Scrolling
    const sidebar = document.querySelector('.sidebar');
    const footer = document.querySelector('footer'); 
    const sidebarInitialOffset = sidebar.offsetTop;

    window.addEventListener('scroll', function() {
        const footerOffsetTop = footer.offsetTop;
        const sidebarHeight = sidebar.offsetHeight;
        const scrollPosition = window.pageYOffset + sidebarHeight + 7 * 16; 

        if (window.innerWidth >= 768) { 
            if (scrollPosition >= footerOffsetTop) {
                sidebar.style.position = 'absolute';
                sidebar.style.top = `${footerOffsetTop - sidebarHeight - sidebarInitialOffset}px`;
            } else {
                sidebar.style.position = 'fixed';
                sidebar.style.top = '7rem';
            }
        } else {
            sidebar.style.position = 'relative';
        }
    });
</script>
{% endblock %}
