{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dasbor</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'art' %}">
                <i class="ti-world menu-icon"></i>
                <span class="menu-title">Artikel</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'kategori_artikel' %}">
                <i class="ti-world menu-icon"></i>
                <span class="menu-title">Kategori Artikel</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'produk' %}">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Produk</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Laporan</span>
            </a>
        </li>
    </ul>
</nav>
