{% extends "layouts/main2.html" %}

{% block title %}Riwayat Transaksi{% endblock %}
{% load humanize %}
{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Riwayat Transaksi User</h4>
                    <div style="float: right">

                    </div>
                    <div class="pt-3 table-responsive">
                        <table class="table table-bordered" id="data-table">
                            <thead>
                                <tr class="text-center">
                                    <th class="text-center" width="50">#</th>
                                    <th>Nama User</th>
                                    <th>Tanggal Transaksi</th>
                                    <th>Nomor RDN Wallet</th>
                                    <th>Kegiatan Transaksi</th>
                                    <th>Jumlah Rupiah</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in transactions %}
                                <tr class="text-center">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ transaction.first_name }} {{ transaction.last_name }}</td>
                                    <td>{{ transaction.date }}</td>
                                    <td>{{ transaction.rdn }}</td>
                                    <td>{{ transaction.activity }}</td>
                                    <td>Rp {{ transaction.transaction_amount|intcomma }}</td>


                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        $('#data-table').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{% url 'transaksi_data' %}",
                "type": "GET"
            },
            "columns": [
                {},
                { "data": "first_name" } { "data": "last_name" },
                { "data": "date" },
                { "data": "rdn" },
                { "data": "activity" },
                { "data": "transaction_amount" }
            ],
            "pageLength": 10
        });
    });
</script>

{% endblock %}