{% extends "layouts/main2.html" %}

{% block title %}Produk{% endblock %}
{% load humanize %}
{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Produk Saham</h4>
                    <div style="float: right">
                        <a href="{% url 'create_produk' %}" class="btn btn-success btn-sm">
                            Tambah Data
                        </a>
                    </div>
                    <div class="pt-3 table-responsive">
                        <table class="table table-bordered" id="data-table">
                            <thead>
                                <tr class="text-center">
                                    <th class="text-center" width="50">#</th>
                                    <th>Kode Saham</th>
                                    <th>Nama Perusahaan</th>
                                    <th>Jenis Saham</th>
                                    <th>Saham</th>
                                    <th class="text-center" width="100">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for produk in produks %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ produk.kode_saham }}</td>
                                    <td>{{ produk.nama_perusahaan }}</td>
                                    <td>{{ produk.jenis_saham }}</td>
                                    <td>Rp {{ produk.saham|intcomma  }}</td>
                                    <td>
                                        <a href="{% url 'update_produk' produk.id %}" class="btn btn-primary">Edit</a>
                                        <form action="{% url 'delete_produk' produk.id %}" method="POST"
                                            style="display: inline;">
                                            {% csrf_token %}
                                            <button class="btn btn-danger"
                                                onclick="return confirm('Yakin ingin menghapus produk ini?')">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#data-table').DataTable();
    });
</script>
{% endblock %}