{% extends "layouts/main2.html" %}

{% block title %}Edit Produk Saham{% endblock %}

{% block css %}
<style>
    .custom-dropdown {
        border-radius: 8px;
        padding: 10px;
        font-size: 14px;
    }

    .custom-file-input {
        border: 1px solid #ced4da;
        border-radius: 8px;
        padding: 10px;
    }

    .custom-file-label {
        padding: 8px;
        font-size: 14px;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-radius: 8px;
        padding: 10px 20px;
    }

    .btn-primary {
        background-color: #5a67d8;
        border-radius: 8px;
        padding: 10px 20px;
        border: none;
    }

    .btn-primary:hover {
        background-color: #434cdb;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2 class="mb-4">Edit Produk Saham</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'update_produk' produk.id %}">
        {% csrf_token %}
        <div class="row g-3"> 
            <div class="col-md-6 mb-4">
                <label for="kodeSaham" class="form-label">Kode Saham</label>
                <input type="text" class="form-control" id="kodeSaham" name="kode_saham" placeholder="Masukkan kode saham" value="{{ produk.kode_saham }}">
            </div>
            <div class="col-md-6 mb-4">
                <label for="namaPerusahaan" class="form-label">Nama Perusahaan</label>
                <input type="text" class="form-control" id="namaPerusahaan" name="nama_perusahaan"
                    placeholder="Masukkan nama perusahaan" value="{{ produk.nama_perusahaan }}">
            </div>
           
            <div class="col-md-6 mb-4">
                <label for="jenisSaham" class="form-label">Jenis Saham</label>
                <select class="form-select form-control" id="jenisSaham" name="jenis_saham">
                    <option selected>Pilih kategori</option>
                    <option value="Syariah" {% if produk.jenis_saham == "Syariah" %}selected{% endif %}>Syariah</option>
                    <option value="Konvensional" {% if produk.jenis_saham == "Konvensional" %}selected{% endif %}>Konvensional</option>
                    
                </select>
            </div>
            <div class="col-md-6 mb-4">
                <label for="saham" class="form-label">Saham</label>
                <input type="text" class="form-control" id="saham" name="saham" placeholder="Masukkan saham" value="{{ produk.saham }}" required>
            </div>
            
        </div>
        <div>
            <a href="{% url 'list_produk' %}" class="btn btn-secondary">Batal</a>
            <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
        </div>
    </form>
</div>
{% endblock %}
